/* new desktop header start here */
.desktop-header {
    border-bottom: 1px solid #EEE;
    background: #FFF;
    height: 80px;
}

.desktop-header li {
    list-style: none;
}

.desktop-header-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header-container {
    height: 100%;
    padding: 0 120px;
}

.breadcrumb-container {
    padding: 0 120px;
}

.logo-box {
    width: 35%;
}

.right-nav-box {
    width: 15%;
}

.centaral-nav-box {
    width: 50%;
}

.centaral-nav ul li a {
    color: #222;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-block;
    padding: 7px 28px;
}

.centaral-nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0;
    height: 100%;
}

.right-nav {
    text-align: right;
}

.right-nav span {
    color: #222;
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.32px
}

.right-nav span strong {
    color: #222;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: -0.4px;
}


.custom-container {
    width: 100%;
    height: 90px;
    background: #343A40;
    padding: 0 60px;
}

.custom-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.left-nav-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0;
}

.right-nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0;
}

.desktop-header .left-nav-list li,
.desktop-header .right-nav-list li {
    list-style: none;
}

.desktop-header .left-nav-list li a,
.desktop-header .right-nav-list li a {
    padding: 22px 30px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo_div img {
    height: 100%;
    width: 250px;
    object-fit: cover;
}


/* header ends here */

/* footer css start here */

footer {
    font-family: Arial, sans-serif;
    color: white;
    background-color: #231f20;
}

.newsletter {
    background-color: #f8f5f4;
    text-align: center;
    color: #000;
    padding: 40px 20px;
}

.newsletter h2 {
    color: #222;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 6.4px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.newsletter p {
    color: #222;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 46px;
}

.newsletter-form {
    margin: 20px auto;
    max-width: 350px;
    border: 1px solid #ccc;
    display: flex;
    height: 41px;
}

.owl2 .owl-nav button {
    margin: 0 !important;
}

.left-edge-banner {
    position: absolute;
    top: 36px;
    right: 0;
    background: #1e1e1e;
    color: white;
    display: inline-block;
    padding: 12px 50px 12px 71px;
    ;
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 6% 50%, 0% 0%);
    width: 360px;
}

.banner-content small {
    display: block;
    opacity: 0.6;
    margin-bottom: 4px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}

.banner-content h3 {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 0;
}

.banner-content a {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
}

.banner-content a:hover {
    color: #fff;
}

.newsletter-form input {
    padding: 10px;
    width: calc(100% - 30px);
    height: 100%;
    outline: none;
    background-color: transparent;
    border: none;
    color: rgba(0, 0, 0, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}

.newsletter-form input::placeholder {
    color: rgba(0, 0, 0, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}

.newsletter-form button {
    padding: 10px 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    line-height: normal;
}

.social-icons a {
    display: inline-block;
    margin: 0 5px;
    color: #000;
    font-size: 16px;
    border: 1px solid black;
    padding: 7px 9px;
    line-height: normal;
}

.footer-col-1 {
    width: 60%;
    display: flex;
    position: relative;
    gap: 80px;
}

.footer-col-1::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 1px;
    height: 300px;
    background: #FFF;
}

.locations {
    text-align: center;
}

.footer-box {
    width: calc(100% - 15%);
    margin: 0 auto;
}

.footer-col-2 {
    width: 40%;
}

.footer-column {
    width: calc(100% / 3);
}

.footer-grid {
    display: flex;
    gap: 40px;
    padding: 60px 40px;
    background-color: #231f20;
}

.footer-column h4,
.footer-column h3 {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.footer-column ul {
    list-style: none;
    padding-top: 5px;
    margin-bottom: 0;
    padding-left: 0;
}

.footer-column ul li {
    cursor: pointer;
    padding: 16px 0;
}

.company-links li {
    padding: 10px 0 !important;
}

.arrow-link {
    border-bottom: 1px solid;
}

.footer-column ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-bottom ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

.footer-bottom ul li {
    list-style: none;
    color: #ab9c9ccc;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: .42px;
    padding: 10px 15px;
}

.footer-bottom ul li a {
    color: #ab9c9ccc;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: .42px;
    text-decoration: underline;
}


.bottom-links {
    position: relative;
    padding: 0 15px;
    color: #d3d3d3b8;
    text-align: center;
    font-family: Gantari;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bottom-links+.bottom-links::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 1px;
    height: 15px;
    background: #FFFFFF66;
    transform: translateY(-46%);
}

.footer-column ul li a:hover {
    color: #FFF;
}

.company-info h3 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.footer-logo {
    max-width: 446px;
    width: 100%;
    margin: 0 auto 58px auto;
}

.footer-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.address {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
}

.phone {
    margin-top: 10px;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-container {
    width: calc(100% - 15%);
    margin: 0 auto;
    border-top: 1px solid #2F2F2F;
}

.bottom-bar {
    text-align: center;
    padding: 15px;
    font-size: 12px;
    background-color: #1b1819;
}


.footer-mobile-box {
    display: none;
}

.footer-accordion {
    border-top: 2px solid rgba(255, 255, 255, 0.20);
}

.footer-accordion-content ul {
    padding-left: 0;
    margin-bottom: 0;
    padding-top: 18px;
    padding-bottom: 18px;
}

.footer-accordion-content ul li {
    list-style: none;
    padding: 5px 0;
}

.footer-accordion-content ul li a {
    color: #FFF;
    font-family: 'acumin-Medium';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    display: block;
}

.footer-accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
}

.footer-accordion-header span:nth-child(1) {
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.footer-accordion-content {
    display: none;
}

.arrow-icon {
    transform: rotate(0);
    transition: transform 0.3s ease;
}

.footer-accordion-header span.rotate {
    transform: rotate(180deg) !important;
    transition: transform 0.3s ease;
}

.footer-accordion-content .menu-logo-box {
    padding: 0 0;
}

.locations {
    text-align: center;
}

.locations ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.locations ul li {
    margin-bottom: 10px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.madis-locations-heading {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    opacity: 0.6;
    margin-bottom: 13px;
}

.phone {
    margin-top: 10px;
    color: #FFF;
    text-align: center;
    font-family: "Noto Serif";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* footer css ends here */

@media(max-width:1650px) {

    /* footer css start here */

    .footer-box {
        width: calc(100% - 10%);
        margin: 0 auto;
    }

    .footer-logo {
        max-width: 350px;
        width: 100%;
        margin: 0 auto 58px auto;
    }

    .madis-container {
        width: calc(100% - 12%);
    }

    .madis-col-content {
        bottom: 50px;
    }

    .madis-col-content h3 {
        font-size: 30px;
        letter-spacing: 5.4px;
        margin-bottom: 30px;
    }
}

@media (max-width: 1600px) {
    .header-container {
        padding: 0 90px;
    }
}

@media (max-width: 1440px) {
    .header-container {
        padding: 0 60px;
    }

    .footer-box {
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
        margin: 0 auto;
    }

    .footer-col-1 {
        gap: 35px;
    }
}

@media screen and (max-width: 1300px) {
    .logo-box {
        width: 20%;
    }

    .centaral-nav-box {
        width: 65%;
    }

    .right-nav-box {
        width: 15%;
    }

    .header-logo {
        width: 100%;
    }

    .header-logo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

@media screen and (max-width: 1200px) {

    .footer-col-1 {
        width: 70%
    }

    .footer-col-2 {
        width: 30%
    }

    .footer-logo {
        max-width: 250px;
    }
}

@media screen and (max-width: 991px) {
    .footer-grid {
        padding: 60px 0 120px 0;
    }

    .address {
        text-decoration: underline;
    }

    .footer-mobile-box {
        display: block;
    }

    .footer-grid {
        flex-flow: column-reverse;
    }

    .footer-col-2 {
        width: 100%;
    }

    .footer-col-1 {
        display: none;
    }

}

@media screen and (max-width: 576px) {
    .footer-bottom ul li {
        font-size: 12px;
    }

    .footer-bottom ul li a {
        font-size: 12px;
    }

}

@media screen and (max-width: 450px) {

    .footer-box {
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer-bottom ul {
        flex-direction: column;
        padding: 15px 0 20px 0;
    }

    .footer-bottom ul li {
        padding: 0px 15px;
    }

    .footer-sec {
        font-size: 12px;
    }
}