
.transparent-btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    outline: #fff;
    border: 2px solid #fff;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    padding: 14px 30px;
    background: transparent;
    transition: all 0.2s;
    text-decoration: none;
}
.transparent-btn:hover{
    background: #fff;
    color: #000;
    text-decoration: none;
}
.blue-btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #0d6efd;
    background: #0d6efd;
    color: white;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    padding: 10px 25px;
    transition: all 0.2s;
    text-decoration: none;
    border-radius: 3px;
}

.blue-btn:hover{
    background: #0b62e4;
    color: white;
    text-decoration: none;
}